<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.mapper.SyjfMapper">
    <resultMap id="KvModel" type="com.software.model.KvModel">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
    </resultMap>
    <resultMap id="K2vModel" type="com.software.model.K2vModel">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value1" jdbcType="INTEGER" property="value1"/>
        <result column="value2" jdbcType="INTEGER" property="value2"/>
    </resultMap>
    <resultMap id="K2vModelBH" type="com.software.model.K2vModelBH">
        <result column="name1" jdbcType="VARCHAR" property="name1"/>
        <result column="name2" jdbcType="VARCHAR" property="name2"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
    </resultMap>
    <resultMap id="TimeModel" type="com.software.model.TimeModel">
        <result column="year" jdbcType="VARCHAR" property="year"/>
        <result column="LARQ" jdbcType="TIMESTAMP" property="larq"/>
        <result column="JARQ" jdbcType="TIMESTAMP" property="jarq"/>
    </resultMap>
    <resultMap id="BgrxxModel" type="com.software.model.BgrxxModel">
        <result column="AJXH" jdbcType="VARCHAR" property="ajxh"/>
        <result column="AJMC" jdbcType="VARCHAR" property="ajmc"/>
        <result column="AH" jdbcType="VARCHAR" property="ah"/>
        <result column="CSNYR" jdbcType="TIMESTAMP" property="csnyr"/>
        <result column="SFZHM" jdbcType="INTEGER" property="sfzhm"/>
        <result column="LARQ" jdbcType="TIMESTAMP" property="larq"/>
    </resultMap>
    <resultMap id="AjModel" type="com.software.model.AjModel">
        <result column="AH" jdbcType="VARCHAR" property="ah"/>
        <result column="AJMC" jdbcType="VARCHAR" property="ajmc"/>
        <result column="LARQ" jdbcType="TIMESTAMP" property="larq"/>
        <result column="JARQ" jdbcType="TIMESTAMP" property="jarq"/>
        <result column="SX" jdbcType="INTEGER" property="sx"/>
        <result column="FJSX" jdbcType="INTEGER" property="fjsx"/>
    </resultMap>
    <select id="getQyajslJa" resultMap="KvModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select extract(year from JARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by extract(year from JARQ)
            </when>
            <otherwise>
                select year(JARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by year(JARQ)
            </otherwise>
        </choose>

    </select>
    <select id="getQyajslLa" resultMap="KvModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select extract(year from LARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by extract(year from LARQ)
            </when>
            <otherwise>
                select year(LARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by year(LARQ)
            </otherwise>
        </choose>

    </select>
    <select id="getQyajslavg" resultMap="TimeModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select extract(year from JARQ) as year,LARQ,JARQ from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                select year(JARQ) as year,LARQ,JARQ from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>

    </select>

    <select id="getBmajLaList" resultMap="AjModel">
        select a.AH,a.AJMC,a.LARQ,a.JARQ,a.SX,a.FJSX from PUB_AJ_JB a, PUB_DMB d where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (a.AJXH,a.FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and a.AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
        and d.LBBH='USR206-99'
        and a.BASPT=d.DMBH
        <choose>
            <when test="fydm == '120242 22A' ">
                and a.FYDM=d.FYDM
            </when>
            <otherwise>

            </otherwise>
        </choose>
        and d.DMMS=#{dmms}
    </select>
    <select id="getBmajJaList" resultMap="AjModel">
        select a.AH,a.AJMC,a.LARQ,a.JARQ,a.SX,a.FJSX from PUB_AJ_JB a, PUB_DMB d where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (a.AJXH,a.FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and a.AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
        and d.LBBH='USR206-99'
        and a.BASPT=d.DMBH
        <choose>
            <when test="fydm == '120242 22A' ">
                and a.FYDM=d.FYDM
            </when>
            <otherwise>

            </otherwise>
        </choose>
        and d.DMMS=#{dmms}
    </select>
    <select id="getSJXX" resultType="string">
        select SJXX from PUB_XTGL_XXXGL where SZL=#{szl} and SZB=#{szb}
    </select>
    <select id="getSJXXBH" resultType="string">
        select SJXX from PUB_XTGL_XXXGL where SZL=#{szl} and SZB=#{szb} and FYDM=#{fydm}
    </select>
    <select id="getSJXX2016" resultType="string">
        select SJXX2016 from PUB_XTGL_XXXGL where SZL=#{szl} and SZB=#{szb}
    </select>
    <select id="getSJXX2016BH" resultType="string">
        select SJXX2016 from PUB_XTGL_XXXGL where SZL=#{szl} and SZB=#{szb} and FYDM=#{fydm}
    </select>
    <select id="getSyaj" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>

        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getSyajBefore" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>
<!--        <if test="laTime!=null and laTime!='' ">-->
<!--            and LARQ <![CDATA[<]]> #{laTime}-->
<!--        </if>-->
        and LARQ <![CDATA[<'2016-01-01']]>
        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getSyajAfter" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>
        and LARQ <![CDATA[>='2016-01-01']]>
        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getSyajBHBefore" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and LARQ <![CDATA[<'2016-01-01']]>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getSyajBHAfter" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and LARQ <![CDATA[>='2016-01-01']]>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getSyajBH" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getBgDSR" resultMap="K2vModel">
        select '赡养' as name, D.AJXH as value1,D.DSRBH as value2 from DSR_JB D,PUB_DMB B where B.LBBH=#{lbbh} and D.AJXH in
        <foreach item="item" index="index" collection="ajList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and (B.DMMS='被告' or B.DMMS='被告人')
        and D.DSRSSDW=B.DMBH
    </select>
    <select id="getBgDSRBH" resultMap="K2vModel">
        select D.FYDM as name, D.AJXH as value1,D.DSRBH as value2 from DSR_JB D,PUB_DMB B where B.LBBH=#{lbbh} and
        <foreach item="item" index="index" collection="ajList" open="(" separator="or" close=")">
            (D.AJXH=#{item.value} and D.FYDM=#{item.name} and B.FYDM=#{item.name})
        </foreach>
        and (B.DMMS='被告' or B.DMMS='被告人')
        and D.DSRSSDW=B.DMBH
    </select>
    <select id="getYgDSR" resultMap="K2vModel">
        select '赡养' as name, D.AJXH as value1,D.DSRBH as value2 from DSR_JB D,PUB_DMB B where B.LBBH=#{lbbh} and D.AJXH in
        <foreach item="item" index="index" collection="ajList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and B.DMMS='原告'
        and D.DSRSSDW=B.DMBH
    </select>
    <select id="getYgDSRBH" resultMap="K2vModel">
        select D.FYDM as name, D.AJXH as value1,D.DSRBH as value2 from DSR_JB D,PUB_DMB B where B.LBBH=#{lbbh} and
        <foreach item="item" index="index" collection="ajList" open="(" separator="or" close=")">
            (AJXH=#{item.value} and D.FYDM=#{item.name} and B.FYDM=#{item.name})
        </foreach>
        and B.DMMS='原告'
        and D.DSRSSDW=B.DMBH
    </select>
    <select id="getXb" resultMap="KvModel" parameterType="list">
        select XB as name,count(XB) as value from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2})
        </foreach>
        group by XB
    </select>
    <select id="getSf" resultMap="KvModel">
        select pd.DMMS as name,count(pd.DMMS) as value from PUB_DMB pd
        join
        (
        select SF  from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2})
        </foreach>
        and SF!=null
        )
        T on T.SF=pd.DMBH
        join PUB_XTGL_XXXGL pxt on pd.LBBH=cast(pxt.SJXX as varchar(15))
        where pxt.SZL='SF' and pxt.SZB='DSR_GR'
        group by pd.DMMS
    </select>
    <select id="getWhcd" resultMap="KvModel">
        select WHCD_WS as name,count(WHCD_WS) as value from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2})
        </foreach>
        group by WHCD_WS
    </select>
    <select id="getAge" resultMap="BgrxxModel">
        select P.AJXH,D.CSNYR,D.SFZHM ,P.LARQ,P.AJMC from PUB_AJ_JB P,DSR_GR D
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (D.AJXH=#{K2vModel.value1} AND D.DSRBH=#{K2vModel.value2})
        </foreach>
        and P.AJXH=D.AJXH
    </select>
    <select id="getXbBH" resultMap="KvModel" parameterType="list">
        select XB as name,count(XB) as value from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2} AND FYDM=#{K2vModel.name})
        </foreach>
        group by XB
    </select>
    <select id="getWhcdBH" resultMap="KvModel">
        select WHCD_WS as name,count(WHCD_WS) as value from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2} AND FYDM=#{K2vModel.name})
        </foreach>
        group by WHCD_WS
    </select>
    <select id="getSfBH" resultMap="KvModel">
        select pd.DMMS as name,count(pd.DMMS) as value from PUB_DMB pd
        join
        (
        select SF  from DSR_GR
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (AJXH=#{K2vModel.value1} AND DSRBH=#{K2vModel.value2} AND FYDM=#{K2vModel.name})
        </foreach>
        and SF!=null
        )
        T on T.SF=pd.DMBH
        join PUB_XTGL_XXXGL pxt on pd.LBBH=cast(pxt.SJXX as varchar(15))
        where pxt.SZL='SF' and pxt.SZB='DSR_GR'
        group by pd.DMMS
    </select>
    <select id="getAgeBH" resultMap="BgrxxModel">
        select P.AJXH,D.CSNYR,D.SFZHM ,P.LARQ,P.AJMC from PUB_AJ_JB P,DSR_GR D
        where
        <foreach collection="dsrList" item="K2vModel" index="index" open="(" separator="or" close=")">
            (D.AJXH=#{K2vModel.value1} AND D.DSRBH=#{K2vModel.value2} AND D.FYDM=#{K2vModel.name})
        </foreach>
        and P.AJXH=D.AJXH
        and P.FYDM=D.FYDM
    </select>
    <select id="getResult" resultMap="KvModel">
        select D.DMMS as name,count(*) as value from PUB_AJ_JB A,PUB_DMB D where A.AJXH in
        <foreach item="item" index="index" collection="ajList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and D.LBBH=#{lbbh} and A.JAFS=D.DMBH
        group by D.DMMS
    </select>
    <select id="getResultBH" resultMap="KvModel">
        select D.DMMS as name,count(*) as value from PUB_AJ_JB A,PUB_DMB D where
        <foreach item="item" index="index" collection="ajList" open="(" separator="or" close=")">
            (A.AJXH=#{item.value} AND A.FYDM=#{item.name} AND D.FYDM=#{item.name})
        </foreach>
        and D.LBBH=#{lbbh} and A.JAFS=D.DMBH
        group by D.DMMS
    </select>
    <select id="getXgdm" resultType="string">
        select XGDM2 from PUB_AJ_JB A,PUB_DMB D where A.AJXH=#{ajxh} and D.LBBH=#{lbbh} and A.SPCX=D.DMBH
    </select>
    <select id="getXgdmBH" resultType="string">
        select XGDM2 from PUB_AJ_JB A,PUB_DMB D where A.AJXH=#{ajxh} and D.LBBH=#{lbbh} and A.SPCX=D.DMBH
        and D.FYDM=#{fydm} and A.FYDM=#{fydm}
    </select>
    <select id="getAjxzSpcx" resultType="string">
        <choose>
            <when test="fydm=='120242 22A' or fydm=='120204 223' or fydm=='120205 224' or fydm=='120206 225' or fydm=='120241 229'">
                select AJXZ||SPCX from PUB_AJ_JB where AJXH=#{ajxh} and FYDM=#{fydm}
            </when>
            <otherwise>
                select AJXZ+SPCX from PUB_AJ_JB where AJXH=#{ajxh}
            </otherwise>
        </choose>
    </select>
    <select id="getAjxzSpcxSpcxdz" resultType="string">
        <choose>
            <when test="fydm=='120242 22A' or fydm=='120204 223' or fydm=='120205 224' or fydm=='120206 225' or fydm=='120241 229'">
                select AJXZ||SPCX||SPCXDZ from PUB_AJ_JB where AJXH=#{ajxh} and FYDM=#{fydm}
            </when>
            <otherwise>
                select AJXZ+SPCX+SPCXDZ from PUB_AJ_JB where AJXH=#{ajxh}
            </otherwise>
        </choose>
    </select>
    <select id="getQyajJaList" resultMap="AjModel">
        select AH,AJMC,LARQ,JARQ,SX,FJSX from PUB_AJ_JB where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
    </select>
    <select id="getQyajLaList" resultMap="AjModel">
        select AH,AJMC,LARQ,JARQ,SX,FJSX from PUB_AJ_JB where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
    </select>

    <select id="getAjslJa" resultType="int">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select count(*) from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                select count(*) from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
    </select>
    <select id="getAjslLa" resultType="int">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select count(*) from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                select count(*) from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
    </select>
    <select id="getAjslAvg" resultMap="TimeModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select 'year' as year,LARQ,JARQ from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                select 'year' as year,LARQ,JARQ from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
    </select>
    <select id="getBmajslLa" resultMap="KvModel">
        select d.DMMS as name,count(*) as value from PUB_AJ_JB a, PUB_DMB d where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (a.AJXH,a.FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and a.AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
        and d.LBBH='USR206-99'
        and a.BASPT=d.DMBH
        <choose>
            <when test="fydm == '120242 22A' ">
                and a.FYDM=d.FYDM
            </when>
            <otherwise>

            </otherwise>
        </choose>
        group by d.DMMS
    </select>
    <select id="getBmajslJa" resultMap="KvModel">
        select d.DMMS as name,count(*) as value from PUB_AJ_JB a, PUB_DMB d where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (a.AJXH,a.FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and a.AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
        and d.LBBH='USR206-99'
        and a.BASPT=d.DMBH
        <choose>
            <when test="fydm == '120242 22A' ">
                and a.FYDM=d.FYDM
            </when>
            <otherwise>

            </otherwise>
        </choose>
        group by d.DMMS
    </select>
    <select id="getBmajslavg" resultMap="TimeModel">
        select d.DMMS as year,a.LARQ,a.JARQ  from PUB_AJ_JB a, PUB_DMB d where
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (a.AJXH,a.FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </when>
            <otherwise>
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and a.AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
            </otherwise>
        </choose>
        and d.LBBH='USR206-99'
        and a.BASPT=d.DMBH
        <choose>
            <when test="fydm == '120242 22A' ">
                and a.FYDM=d.FYDM
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="getYjCount" resultMap="KvModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select extract(year from JARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by extract(year from JARQ)
            </when>
            <otherwise>
                select year(JARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    JARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND JARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by year(JARQ)
            </otherwise>
        </choose>
    </select>
    <select id="getSjCount" resultMap="KvModel">
        <choose>
            <!--滨海的pgsql要手动转换日期并加上fydm-->
            <!--<when test="fydm in ('120242 22A','120204 223','120205 224','120206 225','120241 229')">-->
            <when test="fydm == '120242 22A' ">
                select extract(year from LARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
                </if>
                and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by extract(year from LARQ)
            </when>
            <otherwise>
                select year(LARQ) as name,count(*) as value from PUB_AJ_JB where
                <if test="beginTime!=null and beginTime!='' ">
                    LARQ <![CDATA[>=]]> #{beginTime}
                </if>
                <if test="endTime!=null and endTime!='' ">
                    AND LARQ <![CDATA[<]]> #{endTime}
                </if>
                and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
                group by year(LARQ)
            </otherwise>
        </choose>

    </select>
    <select id="getAj" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>

        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getAjBefore" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>
        <!--        <if test="laTime!=null and laTime!='' ">-->
        <!--            and LARQ <![CDATA[<]]> #{laTime}-->
        <!--        </if>-->
        and LARQ <![CDATA[<'2016-01-01']]>
        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getAjAfter" resultMap="KvModel">
        select AJXZ+SPCX as name,AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> #{beginTime}
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> #{endTime}
        </if>
        and LARQ <![CDATA[>='2016-01-01']]>
        and AJXH in (select AJXH from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getAjBHBefore" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and LARQ <![CDATA[<'2016-01-01']]>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getAjBHAfter" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and LARQ <![CDATA[>='2016-01-01']]>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
    <select id="getAjBH" resultMap="K2vModelBH">
        select AJXZ||SPCX as name1,FYDM as name2, AJXH as value from PUB_AJ_JB where
        <if test="beginTime!=null and beginTime!='' ">
            JARQ <![CDATA[>=]]> to_timestamp(#{beginTime},'yyyy-MM-DD')
        </if>
        <if test="endTime!=null and endTime!='' ">
            AND JARQ <![CDATA[<]]> to_timestamp(#{endTime},'yyyy-MM-DD')
        </if>
        and (AJXH,FYDM) in (select AJXH,FYDM from PUB_LA_AY where AY in ('1132011100','1132011101','1132011102'))
    </select>
</mapper>